.button {
    display: flex;
    padding: 14px 24px;
    font-size: 18px;
    font-weight: var(--font-semibold);
    color: var(--white);
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background: var(--red-45);
    border: none;
}